# LIST

In [2]:
l = [1,2,3,4,5, "jaya" , 45.67, True]

In [19]:
l[0]

1

In [20]:
len(l)

8

In [3]:
l[-1]

True

In [4]:
len(l)

8

In [5]:
l[0:5]

[1, 2, 3, 4, 5]

In [3]:
l[::1]

[1, 2, 3, 4, 5, 'jaya', 45.67, True]

In [2]:
l

[1, 2, 3, 4, 5, 'jaya', 45.67, True]

In [7]:
l[0:100:2]

[1, 3, 5, 45.67]

In [9]:
l

[1, 2, 3, 4, 5, 'jaya', 45.67, True]

In [4]:
l[8:0:-1]

[True, 45.67, 'jaya', 5, 4, 3, 2]

In [11]:
l[:3]

[1, 2, 3]

In [6]:
l+["krish"]

[1, 2, 3, 4, 5, 'jaya', 45.67, True, 'krish']

In [7]:
l * 2

[1, 2, 3, 4, 5, 'jaya', 45.67, True, 1, 2, 3, 4, 5, 'jaya', 45.67, True]

In [23]:
l

[1, 2, 3, 4, 5, 'jaya', 45.67, True]

In [8]:
3 in l #in is an operator to search the particular element is available in the list

True

In [17]:
2 in l

True

In [20]:
max(l)  #error because the list consists of values and string

TypeError: '>' not supported between instances of 'str' and 'int'

In [9]:
l1 = [3,4,5,6,6]

In [10]:
max(l1)

6

In [24]:
l

[1, 2, 3, 4, 5, 'jaya', 45.67, True]

In [13]:
l2 = ["aece" , "fourthyear" , "students"]

In [14]:
min(l2)

'aece'

In [19]:
min(l1)

3

In [14]:
min(l2)

'ece'

In [15]:
l

[1, 2, 3, 4, 5, 'jaya', 45.67, True]

In [16]:
l.append("krishna")

In [17]:
l

[1, 2, 3, 4, 5, 'jaya', 45.67, True, 'krishna']

In [18]:
l.append([1,2,3,4])

In [19]:
l

[1, 2, 3, 4, 5, 'jaya', 45.67, True, 'krishna', [1, 2, 3, 4]]

In [25]:
l.pop()  #press tab afer dot we can find      pop is used to remove the particular index number

SyntaxError: invalid syntax (3153385960.py, line 1)

In [21]:
l

[1, 2, 3, 4, 5, 'jaya', 45.67, True, 'krishna']

In [29]:
l[7]

[1, 2, 3, 4]

In [27]:
l.count(5)

1

In [18]:
l

[1, 2, 3, 4, 5]

In [19]:
l.pop()
 #by default it will delete last indexes

5

In [38]:
o=u[::-1]

In [39]:
o

['krishna', True, 45.67, 'jaya', 5, 4, 3, 2, 1]

In [28]:
l.reverse()  #reverse funcion will reverse the string permanently

In [29]:
l

['krishna', True, 45.67, 'jaya', 5, 4, 3, 2, 1]

In [11]:
 l=l[::-1]  #it doesnot take the permanent reverse

In [31]:
l

[True, 45.67, 'jaya', 5, 4, 3, 2, 1]

In [41]:
l.reverse()

In [21]:
l

[1, 2, 3, 4]

In [15]:
l.append ((1,2,3,4))

In [41]:
l

['krishna', True, 45.67, 'jaya', 5, 4, 3, 2, 1]

In [42]:
l.index(3)

6

In [31]:
l.sort()

TypeError: '<' not supported between instances of 'list' and 'int'

In [46]:
l

[2, 3, 4, 5, 'sudh', 45.67, True, 'kuamr', [1, 2, 3, 4]]

In [43]:
l1=[3,4,5,8,6]

In [44]:
l1.sort()  #sort is used only for numbers

In [45]:
l1

[3, 4, 5, 6, 8]

In [46]:
l3 = [8,98,34,23,1,0]

In [49]:
l3.sort()

In [50]:
l3

[0, 1, 8, 23, 34, 98]

In [51]:
l3.sort(reverse= True ) #to sort the data into descending order

In [52]:
l3

[98, 34, 23, 8, 1, 0]

In [53]:
l1 = [2,3,4]
l2 = [6,7,8]
l3 = [3,2,4]

In [41]:
l1 ="jaya"
l1[2:4]

'ya'

In [54]:
l4 = [l1,l2,l3] #inerting all lists in single lists (list inside a list)

In [21]:
l4[1][2]

8

In [57]:
(l4)

[[2, 3, 4], [6, 7, 8], [3, 2, 4]]

In [59]:
l4[2][0]

3

In [40]:
l4[2] #indexing ([2,3,4]=index 0
                    # [6,7,8]=index=1
                    #[3,2,4]=index=2)

[3, 2, 4]

In [41]:
l4[2][1]

2

In [47]:
l4[2][1]

2

In [44]:
l

[1, 2, 3, 4, 5, 45.67, True, [1, 2, 3, 4], [1, 2, 3, 4]]

In [17]:
l.count(3)

1

In [62]:
l5 = [3,4,5,3,3,3]

In [63]:
l5.count(3)

4

In [60]:
l1=[1,2,3]
l2=[4,5,6]
l3=[7,8,9]

l4=[l1,l2,l3]

l4.count([7,8,9])     # there is no indiviudal element 3 in list4

1

In [61]:
l4

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [69]:
l4.count(3)

0

In [62]:
l=[True, 45.67, 'jaya', 5, 4, 3, 2, 1]

In [63]:
l.append("software")

In [25]:
l

[45.67, 'jaya', 4, 3, 2, 1, (1, 2, 3, 4), 'software']

In [26]:
l.append("jaya")

In [27]:
l

[45.67, 'jaya', 4, 3, 2, 1, (1, 2, 3, 4), 'software', 'jaya']

In [68]:
l.extend(67)

TypeError: 'int' object is not iterable

In [67]:
l

[True,
 45.67,
 'jaya',
 5,
 4,
 3,
 2,
 1,
 'software',
 'a',
 'r',
 'j',
 'u',
 'n',
 '6',
 '7']

In [70]:
l6 = [1,2,3]

In [71]:
l6.append([4,5,6])

In [118]:
l6

[1, 2, 3, [4, 5, 6]]

In [9]:
l6.append("jaya")

In [107]:
l6

[1, 2, 3, [4, 5, 6], 'jaya']

In [62]:
l6.extend(54)   #integer cannot be store only one element when we use extend

TypeError: 'int' object is not iterable

In [10]:
 l6.append(45)

In [11]:
l6

[1, 2, 3, [4, 5, 6], 'jaya', 45]

In [ ]:
APPEND OPERATION WILL APPEND AS IT IS (if it as string , it appenda as string , list as list etc)

In [ ]:
EXTEND OPERATION WILL  try to unwrap(unwrangaling) entire dataset and then it will add one by one  dataset to the original list

In [51]:
l6.extend([56,34,21]) #extend works only on lists

In [52]:
l6

[1, 2, 3, [4, 5, 6], 'jaya', 45, 56, 34, 21, 'j', 'a', 'y', 'a', 56, 34, 21]

In [72]:
l6.extend("jaya")

In [73]:
l6

[1, 2, 3, [4, 5, 6], 'j', 'a', 'y', 'a']

In [15]:
l6

[1, 2, 3, [4, 5, 6], 'jaya', 45, 56, 34, 21, 'j', 'a', 'y', 'a']

In [74]:
l6.index('jaya')

ValueError: 'jaya' is not in list

In [75]:
l7  = [1,2,3,4,55,6,6,7]

In [92]:
l7.index(6) #index will tellyou index of particular element

5

In [67]:
l = [1,2,3,4,5]

In [53]:
l.append(45)  #append is used to add the element at last index only

In [34]:
l

[45.67,
 'jaya',
 4,
 3,
 2,
 1,
 (1, 2, 3, 4),
 'software',
 'jaya',
 '3',
 '3',
 '3',
 '3']

In [79]:
l.insert(2 , 5)  #insert is used to insert some data at any position

In [78]:
l

[True,
 45.67,
 5,
 'jaya',
 5,
 4,
 3,
 2,
 1,
 'software',
 'a',
 'r',
 'j',
 'u',
 'n',
 '6',
 '7']

In [37]:
l

[45.67,
 'jaya',
 5,
 4,
 3,
 2,
 1,
 (1, 2, 3, 4),
 'software',
 'jaya',
 '3',
 '3',
 '3',
 '3']

In [80]:
l.remove(4)

In [81]:
l

[True,
 45.67,
 5,
 5,
 'jaya',
 5,
 3,
 2,
 1,
 'software',
 'a',
 'r',
 'j',
 'u',
 'n',
 '6',
 '7']

In [82]:
l.insert(5,"jaya")

In [83]:
l

[True,
 45.67,
 5,
 5,
 'jaya',
 'jaya',
 5,
 3,
 2,
 1,
 'software',
 'a',
 'r',
 'j',
 'u',
 'n',
 '6',
 '7']

In [135]:
l

[1, [1, 2, 34], 2, 3, 4, 'jaya', 5, 45]

In [85]:
l.pop() #removes last element

'7'

In [84]:
l

[True,
 45.67,
 5,
 5,
 'jaya',
 'jaya',
 5,
 3,
 2,
 1,
 'software',
 'a',
 'r',
 'j',
 'u',
 'n',
 '6',
 '7']

In [139]:
l.pop(2) #remove element 2 from the list

2

In [39]:
l

[1, [1, 2, 34], 3, 4, 5]

In [40]:
l[1].remove(34)

In [41]:
l

[1, [1, 2], 3, 4, 5]

In [142]:
l.remove(4) #Remove first occurrence of value.

# POP will do operation based on indexes

# REMOVE will do operation based on values

In [ ]:
l

In [144]:
l.remove(3)

In [145]:
l

[1, [1, 2, 34], 'jaya', 5]

In [89]:
l = [1,2,3,4]

In [92]:
l[2] ="krishna"  #item reassignment operations

In [93]:
l

[1, 2, 'krishna', 4]

In [86]:
s = "kirti"

In [88]:
s[1]='p'

TypeError: 'str' object does not support item assignment

# STRING OBJECT DOESNOT SUPPORT REASSIGNMENT  (STRING ELEMENTS ARE IMMUTABLE)

# MUTABLE= reassignment can be done(list)
IMMUTABLE= reassignment cannot be done(Strings)
STRINGS ARE IMMUTABLE
TUPLES ARE ALSO IMMUTABLE

# TUPLES

In [43]:
t = (4,5,6,7,"jaya" ,45.67, True)

In [153]:
type(t)

tuple

INDEXING

In [154]:
t[0]

4

In [155]:
t[0:4]

(4, 5, 6, 7)

In [122]:
t[-1]

True

In [6]:
t

(4, 5, 6, 7, 'jaya', 45.67, True)

In [157]:
t[0:6:2]

(4, 6, 'jaya')

In [158]:
t[0:4:-1]

()

In [160]:
l = [1,2,3,456,78]

In [161]:
l[2] = "kumar"

In [162]:
l

[1, 2, 'kumar', 456, 78]

In [44]:
t

(4, 5, 6, 7, 'jaya', 45.67, True)

In [132]:
t[2] = "sudh"

TypeError: 'tuple' object does not support item assignment

TUPLES ARE IMMUTABLE ELEMENTS

In [45]:
t1 = (3,4,5,6)

In [46]:
t

(4, 5, 6, 7, 'jaya', 45.67, True)

In [52]:
t2=t + t1# here we are not disturbing the existing one

In [46]:
t2

(4, 5, 6, 7, 'jaya', 45.67, True, 3, 4, 5, 6)

In [8]:
t2.count(3)

1

In [11]:
t.count(4)

1

In [53]:
t

(4, 5, 6, 7, 'jaya', 45.67, True)

In [12]:
t.index(5)

1

In [13]:
t = t+t1

In [54]:
t.remove(4)

AttributeError: 'tuple' object has no attribute 'remove'

In [9]:
t = (3,4,56,7, "jaya")

In [10]:
t3 = list(t)

In [11]:
t3

[3, 4, 56, 7, 'jaya']

In [12]:
tuple(t3)

(3, 4, 56, 7, 'jaya')

In [19]:
str(t2)

"[3, 4, 56, 7, 'jaya']"

# DICTIONARY

In [1]:
d = {} #dictionary is key value pair

In [2]:
type(d)

dict

In [3]:
d1 = {1}

In [153]:
type(d1)

set

symbol of dict and set are same

In [47]:
d2 = { 'key1' : "value"  , 234 : "xyz" , "name" : "jaya" , "no" : 34324345 }

In [5]:
type(d2)

dict

In [50]:
d2['no']

34324345

in dictionary KEYS are behaving as indexes

In [7]:
d2['no']

34324345

In [52]:
d3 = {'name': "jaya" , 'tech' :["python" , "ML" , "DL" , "NLP","CV" , "Big data" , "data analytics"]}  #value can be anything(list,tuple,string,dict)

In [53]:
d3

{'name': 'jaya',
 'tech': ['python', 'ML', 'DL', 'NLP', 'CV', 'Big data', 'data analytics']}

In [54]:
 d3['tech'][3]

'NLP'

In [56]:
d4 = {"name" :"college" , "contact_info" : 345345 , "name":"sudh"}  #name as a key used two times

In [166]:
d4

{'name': 'sudh', 'contact_info': 345345}

# in dictionary key values should be UNIQUE

In [57]:
d4["name1"] = "xyz"

In [58]:
d4

{'name': 'sudh', 'contact_info': 345345, 'name1': 'xyz'}

In [59]:
d2

{'key1': 'value', 234: 'xyz', 'name': 'jaya', 'no': 34324345}

In [62]:
d4['k2'] = d2

In [64]:
d4

{'name': 'sudh',
 'contact_info': 345345,
 'name1': 'xyz',
 'k2': {'key1': 'value', 234: 'xyz', 'name': 'jaya', 'no': 34324345}}

In [62]:
d4 #dictionary in dictionary

{'name': 'sudh',
 'contact_info': 345345,
 'k2': {'key1': 'value', 234: 'xyz', 'name': 'jaya', 'no': 34324345}}

In [65]:
d4['k2']['name']

'jaya'

In [25]:
d4['k2']['no']

34324345

In [66]:
d4['name']='jaya'

special symbols cannot be used as key

In [67]:
d4

{'name': 'jaya',
 'contact_info': 345345,
 'name1': 'xyz',
 'k2': {'key1': 'value', 234: 'xyz', 'name': 'jaya', 'no': 34324345}}

In [26]:
d5 = {_: "sdfsd"}

TypeError: unhashable type: 'dict'

In [27]:
d5[_]

NameError: name 'd5' is not defined

In [181]:
d6 = {(1,2,34) : "fsdfs"}

Tuple can be used as a key

In [182]:
d6[(1,2,34)]

'fsdfs'

In [28]:
d7 = {[1,2,3,4] : "fasdfasfas"}

TypeError: unhashable type: 'list'

In [184]:
d8 = {{3:4} : "fsdfs"}

TypeError: unhashable type: 'dict'

# LIST and DICTIONARYS ARE NOT ALLOWED AS KEY      TUPLES,STRING INT CAN BE USED AS KEY

# DICTIONARYS ARE MUTABLE

In [65]:
d2

{'key1': 'value', 234: 'xyz', 'name': 'jaya', 'no': 34324345}

In [66]:
d2

{'key1': 'value', 234: 'xyz', 'name': 'jaya', 'no': 34324345}

In [68]:
d4

{'name': 'sudh',
 'contact_info': 345345,
 'k2': {'key1': 'value', 234: 'xyz', 'name': 'jaya', 'no': 34324345}}

In [71]:
d2 +d3

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [70]:
d3 = {'name1': "jaya" , 'tech' :["python" , "ML" , "DL" , "NLP","CV" , "Big data" , "data analytics"]}  #value can be anything(list,tuple,string,dict)

# CONCATINATION OPERATIONS ARE NOT ALLOWED IN DICTIONARY

In [190]:
d2

{'key1': 'value', 234: 'xyz', 'name': 'sudh', 'no': 34324345}

In [68]:
d2.keys() #to extract only keys in a dictionary

dict_keys(['key1', 234, 'name', 'no'])

In [69]:
d2.values() #to extract only values

dict_values(['value', 'xyz', 'jaya', 34324345])

In [70]:
d2.items() #to extract key value pair in the dictionary

dict_items([('key1', 'value'), (234, 'xyz'), ('name', 'jaya'), ('no', 34324345)])

# SET- DOESNOT CONTAINS KEY VALUE PAIRS

In [195]:
s = {3,4,5,6,7,8}

In [196]:
type(s)

set

In [79]:
s1 = {3,4,4,5,6,6,7,7,8,8,9,9,0,0,0,678}

s1  # SET IS TRYING TO KEEP UNIQUE ELEMENT

In [80]:
s1

{0, 3, 4, 5, 6, 7, 8, 9, 678}

In [92]:
s2 = { 3245,4545,6456,5645,675,6234,345}

s2 #SET IS USED TO GIVE SORTING ELEMENT

In [81]:
s3 = {"sudh" , 324,34,12,645,12,5,'b' , '6'}

In [84]:
s4={1,8,"python",324}

In [85]:
s4

{1, 324, 8, 'python'}

In [35]:
s3[0]

TypeError: 'set' object is not subscriptable

In [205]:
list(s3)

['b', 34, 324, 5, 645, '6', 'sudh', 12]

In [206]:
tuple(s3)

('b', 34, 324, 5, 645, '6', 'sudh', 12)

In [88]:
 l = [2,3,4,5656,7,6,7,7,7,77,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7]

In [89]:
l = list(set(l))

In [90]:
l

[2, 3, 4, 6, 7, 77, 5656]

In [93]:
s2

{345, 675, 3245, 4545, 5645, 6234, 6456}

In [94]:
s2.add(34)

In [95]:
s2

{34, 345, 675, 3245, 4545, 5645, 6234, 6456}

In [214]:
s2.add([1,2,3,4,5])

TypeError: unhashable type: 'list'

In [74]:
s = {(1,2,3,4,5) , 3,4,45,65,6}

In [216]:
s

{(1, 2, 3, 4, 5), 3, 4, 45, 6, 65}

In [217]:
s1 = {[1,2,3,4] , 345 ,345}

TypeError: unhashable type: 'list'

In [100]:
s2.add((1,2))

In [101]:
s2

{(1, 2), 3245, 34, 4545, 5645, 6234, 6456, 675}

In [103]:
s2.remove((1,2))

In [104]:
s2

{34, 675, 3245, 4545, 5645, 6234, 6456}

In [105]:
s2.discard(34526)

In [106]:
s2

{34, 675, 3245, 4545, 5645, 6234, 6456}

In [59]:
s.pop()

65

In [60]:
s

{(1, 2, 3, 4, 5), 3, 4, 45, 6}

In [228]:
type(s)

set

In [230]:
l = list(s)

In [231]:
l

[6, (1, 2, 3, 4, 5), 45]

In [232]:
set(l)

{(1, 2, 3, 4, 5), 45, 6}

In [ ]:
str
list 
tuple
dict
set

In [234]:
d2

{'key1': 'value', 234: 'xyz', 'name': 'sudh', 'no': 34324345}

In [235]:
d2["key4"] = "sdfsf"

In [236]:
d2

{'key1': 'value', 234: 'xyz', 'name': 'sudh', 'no': 34324345, 'key4': 'sdfsf'}

In [237]:
d2["key1"]  = "ineuron"

In [238]:
d2

{'key1': 'ineuron',
 234: 'xyz',
 'name': 'sudh',
 'no': 34324345,
 'key4': 'sdfsf'}

In [239]:
l3.sort(reverse=True)

In [240]:
l3

[9, 8, 7]

In [ ]:
#Questions 

l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"jaya" , 234:[23,45,656]}]
1 . Try to reverse a list 
2. try to access 234 out of this list 
3 . try to access 456 
4 . Try to extract only a list collection form list l 
5 . Try to extract "JAYA"
6 . Try to list all the key in dict element avaible in list 
7 . Try to extract all the value element form dict available in list

In [241]:
s = "surya"
s1 = "su"

In [242]:
s+s1

'suryasu'

In [243]:
d2

{'key1': 'ineuron',
 234: 'xyz',
 'name': 'sudh',
 'no': 34324345,
 'key4': 'sdfsf'}

In [245]:
d2.fromkeys("k1")

{'k': None, '1': None}

In [246]:
d2['k'] = "sudh"

In [247]:
d2

{'key1': 'ineuron',
 234: 'xyz',
 'name': 'sudh',
 'no': 34324345,
 'key4': 'sdfsf',
 'k': 'sudh'}

In [249]:
side1 = float(input("Enter first side of triangle"))
side2 = float(input("Enter second side of triangle"))
side3 = float(input("Enter third side of triangle"))
s = (side1+side2+side3)/2
ar = (s*(s-side1)*(s-side2)*(s-side3)) ** 0.5
print("Area of the triangle is, ", ar)

Enter first side of triangle34
Enter second side of triangle56
Enter third side of triangle34
Area of the triangle is,  540.0444426156055

In [250]:
l = [1,2,3,4,5]

In [251]:
l.insert(-1 , "sudh")

In [252]:
l

[1, 2, 3, 4, 'sudh', 5]

In [253]:
for i in l:
    if type(i)==list:
        print(i)
    else:
        if type(i)==dict:
            if type(i.values()==list):
                for j in i.values():
                    if type(j)==list:
                        print(list(j))

In [1]:
d6 = {_ : "fdsdf"}

In [2]:
d6

{'': 'fdsdf'}

In [3]:
t = ( 4,5,6)

In [5]:
t1 =( 6 )

In [6]:
type(t1)

int

In [8]:
#Question
D_NEW = {'name':'Vishnu','title':'Data Analyst','course':'FSDS'}
D_NEW['key1'] = D_NEW
print(D_NEW['name'])
print(D_NEW['key1'])

Vishnu
{'name': 'Vishnu', 'title': 'Data Analyst', 'course': 'FSDS', 'key1': {...}}

In [9]:
print(D_NEW['name'])
print(D_NEW['key1'])

Vishnu
{'name': 'Vishnu', 'title': 'Data Analyst', 'course': 'FSDS', 'key1': {...}}

In [10]:
D_NEW

{'name': 'Vishnu', 'title': 'Data Analyst', 'course': 'FSDS', 'key1': {...}}

In [11]:
t1=(3,5,67.8,789,'876dfghj')
t=t+t1
type(t)
t.count(3)
t2=list(t)
t2
tuple(t2)
str(t2)
tuple(t2)
type(t2)

list

In [13]:
s = {3,4,5,6,7,7}

In [14]:
s

{3, 4, 5, 6, 7}

In [18]:
list(s)[0]

3

In [19]:
round(34.5656567 , 2)

34.57

In [ ]:
###### MY QUESTIONS #####
d4={"name":"iNeuron", "contact_info":34345,"name":"rupe"}
d4['loc']='Calgary'
d4['check'] = d4
#### LOOP ####
print(d4['check'])
#### TYPE ####
print(d4.keys())
print(d4.items())
print(type(d2.keys()))
print(type(d2.items()))
#### SIGNATURE #########
n=[4, 5, 7, 9, 2, 3, 4, 5, 2, 1, 9, 6, 7, 0]
n.pop()
n.sort()

In [21]:
d2 = { "k1" :"fsdfs" , "k2 " : [4,5,56]}

In [24]:
l = d2.keys()

In [29]:
list(l)[0]

'k1'

In [30]:
n=[4, 5, 7, 9, 2, 3, 4, 5, 2, 1, 9, 6, 7, 0]
n.pop()
n.sort()

In [33]:
s = { 1,2,None, 3,4}

In [ ]:
l = [3,4,5,6,7, [23,456,67,8,78,78], [345,56,87,8,98,9],(234,6657,6),{'key1':'sudh', 234:[]}]
umesh
1
l = [1,2,3,4,5,6,7,[11,22,33,44,55,66],111,222,333,'umesh']
l
1
l
[1, 2, 3, 4, 5, 6, 7, [11, 22, 33, 44, 55, 66], 111, 222, 333, 'umesh']
3
1
l.remove(3)
l
1
l
[1, 2, 4, 5, 6, 7, [11, 22, 33, 44, 55, 66], 111, 222, 333, 'umesh']
2
1
l.remove(2)
l
1
l
[1, 4, 5, 6, 7, [11, 22, 33, 44, 55, 66], 111, 222, 333, 'umesh']

In [37]:
l = [10,2,3,4,5,6,7,[11,22,33,44,55,66],111,222,333,'umesh']

In [38]:
l.remove(10)

In [39]:
l

[2, 3, 4, 5, 6, 7, [11, 22, 33, 44, 55, 66], 111, 222, 333, 'umesh']

In [44]:
l=[1,'a','d',[1,5,'asdf','zswe','aa',345],45,"dfg",['s','d',1,2,3],'k']
for i in l:
    if type(i) == list:
        for j in range(len(i)-1):
            print(i[j])
            while type(i[j]) == str:
                i.remove(i[j])
print(l)

1
5
asdf

IndexError: list index out of range